$height: 20vh;
$message-bg: #dddddd;

.container {
  position: fixed;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: color(black a(65%));
  /*transition: top .2s linear;*/
  display: flex;
  justify-content: center;
}

.hidden {
  composes: container;
  top: -100%;
}

.visible {
  composes: container;
  top: 0;
}

.main {
  height: 100%;
  width: 100%;
  background: white;
  align-self: center;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $height;
  border-bottom: 1px solid color(black a(75%));
}

.close{
  cursor: pointer;
  position: absolute;
  left: 20px;
}

.close-icon {
  background: url(./close.svg) no-repeat;
  background-size: cover;
  height: 10px;
  width: 10px;
  transition: transform .3s ease-in-out;
}

.close-icon:hover {
  transform: rotate(90deg);
}

.title {
  composes: primary-font-family from '../../assets/typography.css';
  color: color(black a(75%));
  margin-left: 30px;
  font-size: 14px;
}

.playground {
  height: 60vh;
  overflow: auto;
}

.content {
  composes: primary-font-family from '../../assets/typography.css';
  padding: 20px;
}

.input {
  composes: secondary-font-size from '../../assets/typography.css';
  padding: 5px;
  height: 40px;
  width: 80px;
  margin-top: 10px;
}

.pre-answer {
  margin-right: 5px;
}

.post-answer {
  margin-left: 5px;
}

.footer {
  height: $height;
  width: 100%;
  border-top: 1px solid color(black a(75%));
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.checkBtn {
  height: 80%;
  min-width: 150px;
  position: relative;
}

.check {
  composes: buttons from '../../assets/general.css';
  composes: primary-font-familry from '../../assets/typography.css';
  composes: secondary-font-size from '../../assets/typography.css';
  height: 100%;
  text-transform: uppercase;
  font-weight: lighter;
  background: #7FC054;
  border-radius: 5px;
  text-align: center;
  width: 100%;
}

.message {
  composes: primary-font-family from '../../assets/typography.css';
  position: absolute;
  right: 0;
  bottom: 150%;
  padding: 10px 10px 10px 40px;
  border-radius: 5px;
}

.message:after {
  display: block;
  content: '';
  position: absolute;
  right: 20px;
  bottom: -11px;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background: $message-bg;
}

.correct-message {
  composes: message;
  background: url(./smiling.svg) no-repeat, $message-bg;
  background-size: 30px 30px;
  background-position: 5px center;
}

.error-message {
  composes: message;
  background: url(./try-again.svg) no-repeat, $message-bg;
  animation: shake .2s ease-in-out 1;
  background-size: 30px 30px;
  background-position: 5px center;
}

@keyframes shake {
  10% {
    right: 30px;
  }

  50% {
    right: 0px;
  }

  70% {
    right: 10px;
  }

  100% {
    right: 20px;
  }
}

@media only screen and (width > 320px) {
  .close-icon {
    height: 15px;
    width: 15px;
  }

  .title {
    font-size: 18px;
  }
}

@media only screen and (height > 320px) {
  .playground {
    height: 80vh;
  }

  .header, .footer {
    height: 10vh;
  }
}

@media only screen and (width >= 768px) {
  .close-icon {
    height: 20px;
    width: 20px;
  }

}

@media only screen and (width >= 1024px) {
  .header, .footer {
    height: 10%;
    min-height: 90px;
  }

  .playground {
    height: 80%;
  }

  .footer {
    position: absolute;
    bottom: 0;
  }

  .main {
    height: 90%;
    width: 60%;
    border-radius: 5px;
  }

  .title {
    font-size: 24px;
  }
}
