$main-color: #6A6A6A;

.search-trigger {
  composes: primary-font-family from '../../assets/typography.css';
  display: flex;
  align-items: center;
  height: 40px;
  width: 220px;
  border: 1px solid $main-color;
  border-radius: 40px;
  position: relative;
  cursor: text;
  &:before {
    font-size: 12px;
    position: absolute;
    left: 3.75em;
    color: $main-color;
    content: 'Поиск...';
  }
}

.search-icon {
  height: 15px;
  width: 15px;
  background: url(./active.svg) no-repeat;
  position: absolute;
  left: 1.25em;
}

@media only screen and (width > 320px) {
  .search-input {
    width: 200px;
  }
}

@media only screen and (width >= 768px) {
  .search-input {
    width: 300px;
  }
}
