.search-form {
  position: relative;
  height: 35px;
}

.search-input {
	composes: primary-font-size from '../../assets/typography.css';
	composes: inputs from '../../assets/general.css';
  background: #228DB9;
  color: gray;
  width: 100px;
  height: 100%;
	padding: 10px;
  border-radius: 5px;
  transition: background .1s ease-out;
  &:focus {
    background: white;
  }
  &:focus + .btn {
    background-image: url(./active.svg);
  }
}

::-webkit-input-placeholder {
  color: color(white a(65%));
  transition: color .1s ease-out;
}

:focus::-webkit-input-placeholder {
  color: gray;
}

.btn {
  position: absolute;
  height: 15px;
  width: 15px;
  right: 10px;
  top: 10px;
  border: none;
  background: url(./inactive.svg) no-repeat;
}

.bordered-input {
  composes: search-input;
  border: 2px solid var(--subject-bg-color);
}

@media only screen and (width > 320px) {
  .search-input {
    width: 200px;
  }
}

@media only screen and (width >= 768px) {
  .search-input {
    width: 300px;
  }
}
