.gitignore

# dependencies
/node_modules

#other
/config
/build
database.rules.json
functions
firebase.json
.firebaserc


# testing
/coverage

# production
/build

# misc
.DS_Store
.env
npm-debug.log*
