.subject {
  padding: 15px 0;
	border-bottom: 1px solid rgba(225, 225, 225, .5);
}

.group {
  display: flex;
  align-items: center;
}

.title {
	composes: secondary-font-size from '../../assets/typography.css';
	composes: primary-font-family from '../../assets/typography.css';
  composes: primary-color from '../../assets/colors.css';
  text-decoration: none;
	&:hover {
  	text-decoration: underline;
	}
}

.container {
  margin: 0 0 0 50px;
}

.description {
	composes: primary-font-size from '../../assets/typography.css';
	composes: primary-font-family from '../../assets/typography.css';
	text-align: justify;
  line-height: 22px;
}

.lessons {
  display: none;
  margin-top: 10px;
  column-count: 2;
}

.lesson {
	composes: primary-font-size from '../../assets/typography.css';
	composes: primary-font-family from '../../assets/typography.css';
  margin-bottom: 10px;
  transition: .3s ease-in-out margin;
	&:hover {
		margin-left: 3px;
	}
}

.lesson-link {
	composes: links from '../../assets/general.css';
  color: gray;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

@media only screen and (min-width: 768px) {
  .subject {
    width: 768px;
    margin: 0 auto;
  }
	.lessons {
		display: block;
  }
}

@media only screen and (min-width: 1200px) {
  .subject {
    width: 100%;
  }
	.container {
    display: flex;
  }
  .description {
    width: 50%;
  }
  .lessons {
    margin-top: 0;
    width: 45%;
    margin-left: 5%;
  }
}