$primary-font-size: 14px;
$larger-font-size: 16px;
$largest-font-size: 18px;
$primary-color: deepskyblue;
$block-height: 50px;
$border-color: rgba(225,225,225,.5);

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
	font-size: $primary-font-size;
}

/*	header	*/

.header {
	background: #044389;
}

.sign-in__link {
	color: #91DC5A;
}

.header__group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}

.logo {
	height: 30px;
	width: 30px;
}

.logo__image {
	width: 100%;
	height: 100%;
}

.content {
	padding: 0 15px;
}

/* navigation	*/

.navigation {
	height: $block-height;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid $border-color;
}

.navigation__link {
	cursor: pointer;
	text-decoration: none;
	color: black;
	font-weight: bold;
	display: block;
	line-height: $block-height;
	padding: 0 8px;
}

.navigation__link_active {
	color: deepskyblue;
	border-bottom: 4px solid deepskyblue;
}

.navigation__link:not(.navigation__link_active):hover {
	border-bottom: 4px solid grey;
}

/*	mission	*/

.mission {
	height: 2 * $block-height;
	border-bottom: 1px solid $border-color;
	text-align: center;
}

.mission__text {
	display: inline-block;
	text-decoration: none;
	font-size: $largest-font-size;
	color: black;
	line-height: 2 * $block-height;
	position: relative;
	font-weight: bold;
}

.mission__text:before {
	position: absolute;
	top: 25px;
	left: -50px;
	content: '';
	display: block;
	height: 50px;
	width: 50px;
	background: url("img/startup.svg") no-repeat;
}

/*	main	*/

.section {
	padding: 10px 0;
}

.subject__group {
	display: flex;
	align-items: center;
}

.subject__icon {
	width: 40px;
	height: 40px;
	background: url("img/percentage.png") no-repeat;
	background-size: cover;
	border-radius: 50%;
	margin-right: 10px;
}

.subject__title {
	text-decoration: none;
	font-size: $larger-font-size;
	color: $primary-color;	
}

.subject__title a:hover {
	text-decoration: underline;
}

.subject__container {
	margin: 0 0 0 50px;
}

.subject__desc {
	margin: 0;
	line-height: 22px;
}

.subject__lessons {
	display: none;
	margin-top: 10px;
	column-count: 2;
}

.subject__lesson {
	margin-bottom: 10px;
}

.subject__lesson a {
	color: grey;
	text-decoration: none;
}

/*	Media	 */

@media only screen and (min-width: 768px) {
	.section {
		width: 768px;
		margin: 0 auto;
	}
		
	.logo {
		height: 40px;
		width: 40px;
	}

	.subject__lessons {
		display: block;
	}
}

@media only screen and (min-width: 1200px) {
	.section {
		width: 100%;
	}
		
	.logo {
		height: 50px;
		width: 50px;
	}

	.subject__container {
		display: flex;
	}

	.subject__desc{
		width: 60%;
	}

	.subject__lessons {
		margin-top: 0;
		width: 40%;
	}

	.content {
		width: 1200px;
		margin: 0 auto;
	}
}