.container {
  composes: lesson-font-family from '../../assets/typography.css';
}

.title {
  composes: primary-font-family from '../../assets/typography.css';
  font-weight: lighter;
  margin-bottom: 15px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 10px 0;
}

.content {
  line-height: 200%;
}

.image-container {
  display: flex;
  justify-content: center;
}
