.icon {
  composes: svg from '../../assets/general.css';
  min-width: 24px;
  height: 24px;
}

.cup {
  fill: color(gray a(80%));
  transition: fill .2s ease-in-out;
  &:hover {
    fill: gray;
  }
}

.completed {
  composes: cup;
  fill: #FF9800;
}