$progress-stroke-color: #9BC53D;

.container {
  display: flex;
}

.graph {
  display: flex;
  position: relative;
}

.text {
  composes: primary-font-family from '../../assets/typography.css';
  font-size: 36px;
  fill: #9BC53D;
}

.small-text {
  font-size: 20px;
}

.icon {
	width: 100px;
  height: 100px;
}

.small-icon {
	width: 55px;
	height: 55px;
}

.big-icon {
  width: 200px;
  height: 200px;
}

.icon, .small-icon {
  transform: rotate(-90deg);
}

.backdrop, .progress {
  fill: none;
}

/* default styles for default diagram size */
.backdrop {
  stroke: lightgray;
}

.progress {
  stroke: $progress-stroke-color;
  transition: stroke-dashoffset 2s ease-in-out;
}

.backdrop, .progress {
	stroke-width: 6%;
}

/* styles for icons near subject titles */

.small-backdrop {
  stroke: lightgray;
  stroke-width: 16%;
}

.small-progress {
  stroke-width: 16%;
  stroke: $progress-stroke-color;
  transition: stroke-dashoffset 2s ease-in-out;
}

.small-backdrop, .small-progress {
  fill: none;
}

.percents {
	composes: primary-font-family from '../../assets/typography.css';
  align-self: center;
  position: absolute;
  font-size: 30px;
  color: $progress-stroke-color;
  left: 29px;
}

.percents-sign {
  composes: smallest-font-size from '../../assets/typography.css';
}
