html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family:
    var(--primary-font-family),
    var(--secondary-font-family),
    sans-serif;
  box-sizing: border-box;
  font-size: var(--primary-font-size);
}

/*	header	*/

.main {
	min-height: 100vh;
}

.content {
  padding: 0 15px;
}

/* navigation	*/

.navigation {
  height: var(--block-height);
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--border-color);
}

.navigation__link {
  cursor: pointer;
  text-decoration: none;
  color: gray;
  font-weight: bold;
  display: block;
  line-height: var(--block-height);
  padding: 0 8px;
}

.navigation__link_active {
  color: var(--primary-color);
  border-bottom: 4px solid var(--primary-color);
}

.navigation__link:not(.navigation__link_active):hover {
  border-bottom: 4px solid grey;
}

/* progress */
.overview__block {
  border-bottom: 1px solid var(--border-color);
  background: #f2f2f2;
  padding: 10px 0;
}

.overview__progress {
  background: white;
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 auto;
  padding: 10px;
}

.progress-block {
  display: flex;
    margin-right: 20px;
}

.progress-graph {
  display: flex;
  position: relative;
}

.progress-block__percent {
  text-align: center;
  align-self: center;
  position: absolute;
  font-size: 30px;
  color: var(--primary-color);
  left: 32px;
}

.percent-sign {
  font-size: 14px;
}

.svg-backdrop, .svg-progress {
  fill: none;
}

.svg-backdrop {
  stroke: gray;
  stroke-width: 3%;
}

.svg-progress {
  stroke-width: 5%;
  stroke: var(--primary-color);
  transition: stroke-dashoffset 2s ease-out;
}

.svg-icon {
  width: 100px;
  height: 100px;
  transform: rotate(-90deg);
}

.mission-about {
  display: flex;
}

.mission-about__text {
  font-size: 150%;
  font-weight: bold;
}

.mission-about__next {
  margin-top: 5px;
}

/*	Media	 */

@media only screen and (min-width: 1200px) {
  .content {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
  }
}
