.search-form {
  position: relative;
}

.search-form__input {
  box-sizing: border-box;
  height: 40px;
  width: 400px;
  padding: 10px 40px 10px 10px;
  font-size: var(--primary-font-size);
  outline: none;
  border: none;
  transition: width .5s ease-in-out;
}

/*.search-form__input:hover {
  width: 400px;
}*/

.search-form__search-icon {
  width: 20px;
  height: 20px;
  background: url('../img/search.svg');
  position: absolute;
  right: 20px;
  top: 10px;
}
