$mobile-margin: 5px;
$margin: 10px;

.status {
  height: 80%;
  display: flex;
  align-items: center;
}

.ex-status {
  background: white;
  border-radius: 100%;
  border: 1px solid gray;
  height: 10px;
  width: 10px;
  transform: scale(1.5);
  transition: transfrom .1s ease-out;
  margin-right: $mobile-margin;
}

.ex-status ~ .ex-status {
  transform: scale(1);
}

.ex-status-completed {
  margin-right: $mobile-margin;
  background: #7FC054;
  border-radius: 100%;
  border: 1px solid gray;
  height: 10px;
  width: 10px;
}

@media only screen and (width >= 321px) {
  .ex-status {
    margin-right: $margin;
    transform: scale(2);
  }

  .ex-status-completed {
    margin-right:$margin;
  }
}
