.progress-container {
  border-bottom: 1px solid var(--border-color);
  background: #f2f2f2;
  padding: 10px 0;
}

.progress {
  background: white;
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 auto;
  padding: 10px;
}

.mission {
	display: flex;
}

.mission-action {
	composes: primary-font-family from '../../assets/typography.css';
  font-size: 150%;
  font-weight: bold;	
}

.mission-next {
	composes: secondary-font-family from '../../assets/typography.css';
  margin-top: 5px;
}