.progress-container {
  border-bottom: 1px solid var(--border-color);
  background: #f2f2f2;
  padding: 10px 0;
}

.progress {
  background: white;
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 auto;
  padding: 10px;
}

.mission {
	display: flex;
}

.mission-action {
	composes: primary-font-family from '../../assets/typography.css';
  font-size: 150%;
  font-weight: bold;	
}

.mission-next {
	composes: secondary-font-family from '../../assets/typography.css';
  margin-top: 5px;
}

/*.progress-block {
  display: flex;
}

.progress-graph {
  display: flex;
  position: relative;
}

.progress-block__percent {
  text-align: center;
  align-self: center;
  position: absolute;
  font-size: 30px;
  color: var(--primary-color);
  left: 32px;
}

.percent-sign {
  font-size: 14px;
}

.svg-backdrop, .svg-progress {
  fill: none;
}

.svg-backdrop {
  stroke: #333;
  stroke-width: 3%;
}

.svg-progress {
  stroke-width: 4%;
  stroke: var(--primary-color);
  transition: stroke-dashoffset 2s ease-out;
}

.svg-icon {
  width: 100px;
  height: 100px;
  transform: rotate(-90deg);
}*/