.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.complete-message {
  composes: complete-font-family from '../../assets/typography.css';
  composes: very-big-font-size  from '../../assets/typography.css';
  position: relative;
}

.complete-icon {
  position: absolute;
  height: 70px;
  width: 70px;
  left: calc(50% - 35px);
  top: -60px;
  background: url(./complete.svg) no-repeat;
}
