.links {
	text-decoration: none;
  cursor: pointer;
}

.buttons {
	composes: smallest-font-size from './typography.css';
	composes: primary-font-family from './typography.css';
	color: white;
	background: #83BF65;
	cursor: pointer;
	border: none;
	padding: 5px 10px;
}

.inputs {
  border: none;
  display: inline-block;
  outline: none;
}

.list {
  list-style: none;
}

.titles {
  composes: links;
  composes: secondary-font-size from './typography.css';
	composes: primary-font-family from './typography.css';
  composes: primary-color from './colors.css';
	&:hover {
  	text-decoration: underline;
	}
}

.headings {
  composes: secondary-font-size from './typography.css';
  composes: secondary-font-family from './typography.css';
  color: color(black a(90%));
  text-transform: uppercase;
}

.svg {
  width: 24px;
  height: 24px;
}
