.links {
	text-decoration: none;
  cursor: pointer;
}

.buttons {
	composes: smallest-font-size from './typography.css';
	composes: primary-font-family from './typography.css';
	color: white;
	background: deepskyblue;
	cursor: pointer;
	border: none;
	padding: 5px 10px;
}

.inputs {
	height: 40px;
  width: 200px;
  outline: none;
  border: none;
}

.list {
  list-style: none;
}

.titles {
  composes: links;
  composes: secondary-font-size from './typography.css';
	composes: primary-font-family from './typography.css';
  composes: primary-color from './colors.css';
	&:hover {
  	text-decoration: underline;
	}
}
