.content-block-padding {
	padding: 0 15px;
}

.default-block-height {
	height: 50px;
}

.main-container {
  composes: content-block-padding;
	max-width: 1200px;
	margin: 30px auto 0 auto;
	min-height: 100vh;
}
