@font-face {
	font-family: 'Open Sans';
	src: url(./fonts/osr.ttf);
}

@font-face {
	font-family: 'Open Sans Light';
	src: url(./fonts/osl.ttf);
}

@font-face {
	font-family: 'PT Sans';
	src: url(./fonts/ptr.ttf);
}

@font-face {
  font-family: 'proxima-nova';
  src: url(./fonts/pn.otf);
}

@font-face {
  font-family: 'Bad Script';
  src: url(./fonts/bs.ttf);
}

.primary-font-family {
	font-family: 'PT Sans', sans-serif;
}

.secondary-font-family {
	font-family: 'Open Sans';
}

.serif {
	font-family: serif;
}

.lesson-font-family {
  font-family: 'proxima-nova';
}

.complete-font-family {
	font-family: 'Bad Script';
}

.primary-font-size {
	font-size: 16px;
}

.secondary-font-size {
	font-size: 18px;
}

.medium-font-size {
	font-size: 20px;
}

.largest-font-size {
	font-size: 22px;
}

.header-level-2 {
	font-size: 26px;
}

.header-level-1 {
	font-size: 2em;
}

.very-big-font-size {
  font-size: 250%;
}

.smallest-font-size {
	font-size: 14px;
}
