.container {
  composes: main-container from '../../assets/layout.css';
}


.big-title {
  height: 300px;
  background: var(--subject-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.link-back {
  composes: links from '../../assets/general.css';
  composes: primary-font-family from '../../assets/typography.css';
  font-size: 12px;
  display: flex;
  color: color(white a(60%));
  text-transform: uppercase;
  transition: text-indent .2s ease-in-out;
  position: absolute;
  top: 110px;
}

.link-back:hover {
  text-indent: 5px;
}

.back-text {
  align-self: center;
}

.title {
  composes: very-big-font-size from '../../assets/typography.css';
  composes: primary-font-family from '../../assets/typography.css';
  color: white;
  /*text-shadow: -3px 2px 5px rgba(150, 150, 150, 1);*/
}

.flex {
  display: flex;
}

.desc {
  flex: 3;
}

.desc-text {
  composes: primary-font-family from '../../assets/typography.css';
  composes: secondary-font-size from '../../assets/typography.css';
  padding-left: 30px;
  line-height: 24px;
}
