.container {
  composes: main-container from '../../assets/layout.css';
}

.big-title {
  height: 200px;
  background: linear-gradient(140deg,#009688 10%,#4587bb 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.titleGroup {
  position: relative;
}

.link-back {
  composes: links from '../../assets/general.css';
  composes: primary-font-family from '../../assets/typography.css';
  font-size: 12px;
  display: flex;
  color: color(white a(60%));
  text-transform: uppercase;
  position: absolute;
  top: -20px;
  left: calc(50% - 75px);
}

.back-icon {
  transition: transform .2s ease-out;
}

.link-back:hover > .back-icon {
  transform: translateX(-5px);
}

.back-text {
  align-self: center;
}

.title {
  composes: primary-font-family from '../../assets/typography.css';
  font-size: 22px;
  text-align: center;
  margin: 0 10px;
  color: white;
}

.flex {
  display: flex;
  flex-direction: column;
}

.desc {
  flex: 3;
  margin-bottom: 20px;
}

.desc-text {
  composes: primary-font-family from '../../assets/typography.css';
  composes: secondary-font-size from '../../assets/typography.css';
  line-height: 24px;
  text-indent: 1em;
  text-align: justify;
}

@media only screen and (width >= 321px){
  .big-title {
    height: 250px;
  }

  .title {
    font-size: 26px;
  }
}

@media only screen and (width >= 768px) {
  .big-title {
    height: 300px;
  }

  .flex {
    flex-direction: row;
  }

  .desc-text {
    padding-left: 30px;
  }

  .title {
    font-size: 36px;
  }
}

@media only screen and (width >= 1200px) {
  .big-title {
    height: 350px;
  }

  .title {
    font-size: 48px;
  }
}
