$main-padding: 15px;

.container {
  composes: border-color from '../../assets/colors.css';
  background: #f2f2f2;
  padding: 20px;
}

.main {
  background: white;
  max-width: 600px;
  margin: 0 auto;
  padding: $main-padding;
  position: relative;
}

.mission-action {
	composes: primary-font-family from '../../assets/typography.css';
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 5px;
}

.mission-next {
	composes: secondary-font-family from '../../assets/typography.css';
  margin-bottom: 10px;
}

.next {
  color: gray;
}

.start-btn {
  composes: buttons from '../../assets/general.css';
  position: absolute;
  top: $main-padding;
  right: $main-padding;
  visibility: hidden;
}

.progress {
  height: 10px;
  width: 100%;
  background: color(gray a(80%));
  margin-bottom: 5px;
}

.bar {
  height: 100%;
  width: 0;
  background: #7AC74F;
}

.details {
  composes: primary-font-family from '../../assets/typography.css';
  composes: smallest-font-size from '../../assets/typography.css';
  composes: secondary-color from '../../assets/colors.css';
  text-align: center;
}

@media only screen and (width > 320px) {
  .start-btn {
    visibility: visible;
  }
}
