.content-list {
  margin-right: 20px;
  margin-bottom: 20px;
}

.list {
  composes: list from '../../assets/general.css';
  composes: primary-font-size from '../../assets/typography.css';
  composes: primary-font-family from '../../assets/typography.css';
  columns: 2;
}

.anchor {
  composes: links from '../../assets/general.css';
  display: block;
  padding: 5px;
  border-left: 4px solid transparent;
  color: color(black a(60%));
  transition: color .2s linear, border-color .2s linear;
}

.anchor:hover {
  color: color(black a(90%));
}

.active-anchor {
  color: color(black a(95%));
  border-color: #9BC53D;
  cursor: alias;
}

.heading {
  composes: headings from '../../assets/general.css';
  margin: 0 0 9px 10px;
}

@media only screen and (width >= 768px){
  .content-list {
    flex: 1;
  }
  .list {
    columns: 1;
  }
}
