.container {
  composes: main-container from '../../assets/layout.css';
  /*margin-top: 30px;*/
}

.content {
  width: 100%;
}

@media only screen and (width > 1024px) {
  .container {
    display: flex;
    flex-direction: row;
  }

  .content {
    flex-grow: 3;
  }
}
