.container {
  composes: main-container from '../../assets/layout.css';
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.content {
  flex-grow: 3;
}


@media only screen and (width >= 768px ) {
  .container {
    flex-direction: row;
  }
}
