*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --subject-bg-color: #3E3287;
  --subject-border-color: #FF5964;
  --main-color: #29ACE2;
}

:global {
  #root {
    height: 100%;
  }
}

::selection {
    background: #c0ecf4;
}

html, body {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}
