$sign-in-bg: #91DC5A;

.profile {

}

.profile-link {

}

.sign-in {

}

.sign-in-link {
	composes: links from '../../assets/general.css';
	composes: primary-font-family from '../../assets/typography.css';
  display: block;
  padding: 5px 10px;
  border: 2px solid $sign-in-bg;
  border-radius: 10px;
  color: $sign-in-bg;
  transition: all .1s ease-out;
}

.sign-in-link:hover {
  color: white;
  background: $sign-in-bg;
}

.sign-in-link-alt {
  composes: sign-in-link;
  border-color: var(--subject-bg-color);
  color: var(--subject-bg-color) !important;
}
